* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    background: #ececec;
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    vertical-align: center;
}

#content {
    border-radius: 8px;
    background: #fff;
    height: 100px;
    display: flex;
    box-shadow: 0 0 4px 4px #dbd6d6;
    position: relative;
    animation-name: location;
    animation-duration: 0.6s;
}
@keyframes location{
    0% {top:-100px;}
    100% {top:0px;}
}

#content ti {
    width: 100px;
    height: 100px;
    font-size: 40px;
    color: #fff;
    background: #648dff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-note  {
    padding: 8px;
    text-align: center;
    width: 300px;
    position: relative;
}

#content button {
    width: 65px;
    border: none;
    background: #648dff;
    color: #fff;
    border-radius: 4px;
    padding: 8px 16px;
    position: absolute;
    right: 8px;
    bottom: 8px;
    cursor: pointer;
}

#content button:hover {
    opacity: 0.6;
}

#content h3 {
    height: 18px;
}
#content p {
    height: calc(100% - 18px);
    padding-top: 10px;
    padding-bottom: 36px;
    font-size: 16px;
}